body{
    background: #f8f5f5;
}
html{
     height: 100%;
      box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #273b7a;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #0c2f7a;
}

nav{
    width: 83%;
    margin-left: 10%;
}
section {
    width: 80%;
    height: auto;
    padding: 20px;
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid#000000;
}

th,td{
   margin-right: 50px;
   padding: 5px;
}
th{
    float: left;
}
.overskrift{
    font-size: 20px;
}
.tilhørighet, .barnehager, .skole, .idrett, .Handel, .transport {
    margin-bottom: 2%;
}

.footer_image{
    width: 100%;
    position: absolute;
    top: -150px;
    bottom: 0px;
    left: 0px;
    right: -150px;
}
footer{
    margin-left: 10%;
    width: 81%;
    height: 10%;
    color: #000000;
    background: #c5c3c3;
    position: relative;
    right: 0;
    bottom: -180px;
    left: 0;
    padding: 1rem;
}